<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Northware Utils</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a> <i class="fas fa-home"> </i> </a>
              </li>

              <li aria-current="page" class="breadcrumb-item active">
                Control de Despachos
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a class="btn btn-neutral btn-lg" (click)="registrarPendientes()">
            {{ ListaRegistrosSeleccionados.length > 0 ? 'Enviar seleccionados' : 'Enviar todos los pendientes' }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Control de Despachos</h3>
          <p class="text-sm mb-0">Listado de Despachos</p>
          <strong style="font-size: 13px" *ngIf="lastUpdate"
            >Ultima actualización: {{ lastUpdate }}</strong
          >
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label"> Fecha de registro </label>
                <div class="row">
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <div class="input-group-append form-control-sm">
                        <span class="input-group-text">Desde:</span>
                      </div>
                      <input
                        [(ngModel)]="filter.startDate"
                        type="date"
                        class="form-control form-control-sm"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <div class="input-group-append form-control-sm">
                        <span class="input-group-text">Hasta:</span>
                      </div>
                      <input
                        [(ngModel)]="filter.endDate"
                        type="date"
                        class="form-control form-control-sm"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="form-control-label"> Estación </label>
                <select
                  class="form-control form-control-sm"
                  data-toggle="select"
                  id="select-estacion"
                ></select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="form-control-label"> Corte </label>
                <select
                  class="form-control form-control-sm"
                  data-toggle="select"
                  id="select-corte"
                ></select>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label class="form-control-label">
                  Filtra los resultados
                </label>
                <input
                  type="text"
                  id="txtBusqueda"
                  placeholder="Introduce tu búsqueda"
                  class="form-control form-control-sm"
                  [(ngModel)]="filter.search"
                />
              </div>
            </div>
            <div class="col-sm-3 offset-sm-9">
              <div class="text-right">
                <br />
                <button
                  class="btn btn-sm btn-secondary"
                  type="button"
                  (click)="resetearRegistros()"
                >
                  Limpiar filtros
                </button>
                <button
                  class="btn btn-sm btn-primary"
                  type="button"
                  (click)="obtenerRegistros()"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>

          <br />

          <div class="dataTables_wrapper">
            <!-- CHECKBOX DE FILTRADO -->
            <div
              class="contenedor-checks"
              style="float: right; margin-right: 5%"
            >
              <label>Filtra por estatus</label>
              <br />
              <label class="ms-checkbox-wrap ms-checkbox-info">
                <input
                  type="checkbox"
                  id="ckTodos"
                  (change)="filtersCheckboxChange('todos')"
                  checked
                />
                <i class="ms-checkbox-check"></i>
              </label>

              <label for="ckTodos" style="margin-left: 5px"> Todos </label>

              &nbsp; &nbsp;

              <label class="ms-checkbox-wrap ms-checkbox-info">
                <input
                  type="checkbox"
                  id="ckSinRegistrar"
                  (change)="filtersCheckboxChange('sinRegistrar')"
                  checked
                />
                <i class="ms-checkbox-check"></i>
              </label>

              <label for="ckSinRegistrar" style="margin-left: 5px">
                Sin registrar
              </label>

              &nbsp; &nbsp;

              <label class="ms-checkbox-wrap ms-checkbox-info">
                <input
                  type="checkbox"
                  id="ckRegistrado"
                  (change)="filtersCheckboxChange('registrado')"
                  checked
                />
                <i class="ms-checkbox-check"></i>
              </label>

              <label for="ckRegistrado" style="margin-left: 5px">
                Registrado
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <h4>Selecciona para registrar pendientes</h4>
              <label
                ><input
                  [(ngModel)]="todosRegistrosSeleccionados"
                  (change)="seleccionMultipleRegistros()"
                  type="checkbox"
                  style="margin-right: 5px; cursor: pointer"
                  checked
                />
                Seleccionar todos</label
              >
            </div>
          </div>

          <div
            class="table-responsive"
            *ngIf="this.listaRegistrosTabla.length > 0"
            style="padding-top: 1%"
          >
            <table class="table align-items-center table-flush table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Turno</th>
                  <th scope="col">Estacion</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Importe</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Código</th>
                  <th scope="col">Tipo pago</th>
                  <th scope="col">Estatus</th>
                </tr>
              </thead>

              <tbody
                *ngFor="let registro of listaRegistrosTabla; let i = index"
                class="list"
              >
                <tr>
                  <td>
                    <input
                      [(ngModel)]="registro.seleccionado"
                      (change)="agregarRegistrosPendientes(registro)"
                      type="checkbox"
                      style="margin-right: 5px; cursor: pointer"
                      checked
                    />
                  </td>
                  <td>{{ obtenerFechaFormat(registro.date) }}</td>
                  <td>{{ obtenerHora(registro.operationDate) }}</td>
                  <td>{{ registro.shiftNumber }}</td>
                  <td>{{ registro.serviceStationName }}</td>
                  <td>
                    {{
                      registro.productName != null
                        ? registro.productName.length > 30
                          ? registro.productName.slice(0, 30) + "..."
                          : registro.productName
                        : ""
                    }}
                  </td>
                  <td class="text-right">{{ registro.quantity }}</td>
                  <td class="text-right">
                    {{
                      (registro.price != null ? registro.price : "") | currency
                    }}
                  </td>
                  <td class="text-right">
                    {{
                      (registro.totalAmount != null ? registro.totalAmount : "")
                        | currency
                    }}
                  </td>
                  <td>
                    {{
                      registro.customerName != null
                        ? registro.customerName.length > 30
                          ? registro.customerName.slice(0, 30) + "..."
                          : registro.customerName
                        : ""
                    }}
                  </td>
                  <td>{{ registro.customerCode }}</td>
                  <td>{{ registro.saleType }}</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i
                        class="bg-success"
                        *ngIf="registro.estatus == 'Registrado'"
                      >
                      </i>
                      <i
                        class="bg-info"
                        *ngIf="registro.estatus == 'En progreso'"
                      >
                      </i>
                      <i
                        class="bg-warning"
                        *ngIf="registro.estatus == 'No registrado'"
                      >
                      </i>
                      <i class="bg-danger" *ngIf="registro.estatus == 'Error'">
                      </i>
                      <i
                        class="bg-gray"
                        *ngIf="registro.estatus == 'Estado desconocido'"
                      >
                      </i>
                      <span class="status"> {{ registro.estatus }} </span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="row"
            *ngIf="this.listaRegistrosTabla.length == 0"
            style="padding-top: 5%; width: 100%"
          >
            <div class="col-12">
              <h3 class="text-center">No se encontraron registros</h3>
            </div>
          </div>

          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-4">
                <div class="dataTables_length">
                  <label>
                    Mostrar
                    <input
                      class="entries-input form-control form-control-sm"
                      type="number"
                      name="entries"
                      [(ngModel)]="entries"
                      (keyup)="entriesChange($event)"
                      (change)="entriesChange($event)"
                    />
                    registros
                  </label>
                </div>
              </div>
              <div class="col-sm-8">
                <nav>
                  <ul class="pagination justify-content-end">
                    <li class="cantidad-registros">
                      {{ cantidadRegistros }} Registros
                    </li>
                    <!-- BOTON PRIMER PAGINA -->
                    <li
                      [ngClass]="{ disabled: filter.page === 1 }"
                      class="page-item"
                    >
                      <a class="page-link" (click)="setPage(1)">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">First</span>
                      </a>
                    </li>
                    <!-- BOTON PAGINA ANTERIOR-->
                    <li
                      [ngClass]="{ disabled: filter.page === 1 }"
                      class="page-item"
                    >
                      <a class="page-link" (click)="setPage(filter.page - 1)">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>

                    <li>
                      <div class="contenedor-paginacion">
                        <li
                          *ngFor="let page of pages.pages"
                          [ngClass]="{ active: filter.page === page }"
                          class="page-item"
                        >
                          <a class="page-link" (click)="setPage(page)">
                            {{ page }}
                          </a>
                        </li>
                      </div>
                    </li>

                    <li
                      *ngIf="pages.totalPages - pages.startPage > 5"
                      class="page-item"
                    >
                      <a
                        class="page-link"
                        (click)="setPage(pages.startPage + 5)"
                      >
                        ...
                      </a>
                    </li>
                    <li
                      *ngIf="pages.totalPages - pages.startPage > 5"
                      class="page-item"
                    >
                      <a class="page-link" (click)="setPage(pages.totalPages)">
                        {{ pages.totalPages }}
                      </a>
                    </li>
                    <li
                      class="page-item"
                      [ngClass]="{ disabled: filter.page === pages.totalPages }"
                    >
                      <a class="page-link" (click)="setPage(filter.page + 1)">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                    <li
                      class="page-item"
                      [ngClass]="{ disabled: filter.page === pages.totalPages }"
                    >
                      <a class="page-link" (click)="setPage(pages.totalPages)">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Last</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="resetearRegistros()">
                        <span class="btn-inner--icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-clockwise"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
                            />
                            <path
                              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
                            />
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-scale-party"
  [fullScreen]="true"
>
  <p style="color: white">Espere un monento...</p>
</ngx-spinner>
