<div class="main-content">
  <div class="header py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-8 px-9">
            <img class="card-img" src="assets/img/brand/northware-logo.png" />
            <h1 class="text-black2">Portal de comisiones</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small> Para acceder, ingresa tus credenciales </small>
            </div>

            <form role="form" [formGroup]="loginForm">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    formControlName="username"
                    maxlength="320"
                    [ngClass]="{'is-invalid': loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) }"
                    [readonly]="button"
                  />
                  <div *ngIf="loginForm.get('username')?.errors" class="invalid-feedback">Email requerido</div>
                </div>
              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    formControlName="password"
                    [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) }"
                    [readonly]="button"
                  />
                  <div *ngIf="loginForm.get('password')?.errors" class="invalid-feedback">Password requerido</div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4" (click)="login()" [disabled]="!loginForm.valid || button">
                  Iniciar sesión
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <!-- <a class="text-light" href="javascript:void(0)" (click)="recoveraccount()">
              <small> ¿Olvidaste tu contraseña? </small>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
