<div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">

          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Prosazón Comisiones</h6>
  
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a> <i class="fas fa-home"> </i> </a>
                </li>
  
                <li aria-current="page" class="breadcrumb-item active">
                  Configuración general
                </li>
              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Parametros del sistema</h3>
                    <p class="text-sm mb-0"></p>
                </div>
                <div class="row" style="margin-left: 10px;">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label"> Tipo de cuenta de contrapartida </label>
                                    <select class="form-control form-control-sm" data-toggle="select" [(ngModel)]="balAccountType"  style="margin-top: 18px;">
                                      <option selected disabled>Selecciona</option>
                                      <option value="G/L Account">G/L Account</option>
                                      <option value="Employee">Employee</option>
                                  </select>
                                  </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label"> Cuenta de contrapartida </label>
                                    <input class="form-control form-control-sm" type="text" style="margin-top: 18px;" [(ngModel)]="balAccountNum">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <button
                                class="btn btn-sm btn-primary"
                                type="button"
                                (click)="save()"
                                >
                                Guardar valores
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
