<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Horarios de ruta</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row rowHeaderRuta">
        <div class="col-2">
            <span>Ruta</span>
            <br>
            <strong>{{Ruta.ruta}}</strong>
        </div>
        <div class="col-md-3">
            <span>Tipo Ruta</span>
            <br>
            <strong>{{Ruta.tipoRuta}}</strong>
        </div>
        <div class="col-md-4">
            <span>Responsable</span>
            <br>
            <strong>{{Ruta.responsable}}</strong>
        </div>
        <div class="col-md-3">
            <span>CEDIS</span>
            <br>
            <strong>{{Ruta.cedis}}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="dataTables_wrapper py-4">
                <div class="row">
                    <div class="table-responsive" id="table-horarios">
                        <table class="table table-horarios align-items-center table-flush table-hover">
                            <thead class="thead-light">
                                <tr>
                                  <th scope="col">&nbsp;&nbsp;Lunes&nbsp;&nbsp;</th>
                                  <th scope="col">&nbsp;&nbsp;Martes&nbsp;</th>
                                  <th scope="col">Miercoles</th>
                                  <th scope="col">&nbsp;&nbsp;Jueves&nbsp;</th>
                                  <th scope="col">&nbsp;Viernes&nbsp;</th>
                                  <th scope="col">&nbsp;&nbsp;Sabado&nbsp;</th>
                                  <th scope="col">&nbsp;Domingo&nbsp;</th>
                                </tr>
                              </thead>
                              <tbody class="list">
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.monday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Lunes',1,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Lunes',1)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.tuesday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Martes',2,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Martes',2)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.wednesday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Miercoles',3,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Miercoles',3)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.thursday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Jueves',4,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Jueves',4)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.friday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Viernes',5,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Viernes',5)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.saturday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Sabado',6,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Sabado',6)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                                <td>
                                    <br>
                                    <div [ngClass]="schedule.deleted == true ? 'fall' : ''" class="card-schedule card" *ngFor="let schedule of schedules.sunday">
                                        <span class="card-schedule-text">{{schedule.inicio}} - {{schedule.fin}}</span>
                                        <div class="card-schedule-options">
                                            <div class="card-schedule-option-button"  tooltip="Editar"
                                            (click) = "editSchedule('Domingo',7,schedule.idHorario,schedule.inicio,schedule.fin )"
                                                placement="top">
                                                <i class="fas fa-pencil-alt"></i>
                                            </div>
                                            <div class="card-schedule-option-button" tooltip="Eliminar"
                                            (click) = "askForRemoveSchedule(schedule.idHorario, schedule)"
                                                placement="top">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-schedule  card-schedule-add" (click)="addSchedule('Domingo',7)">
                                        Agregar <i class="fas fa-plus"></i>
                                    </div>
                                </td>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.dismiss()">
        Cerrar
    </button>
</div>

<ngx-spinner  size="medium" color="#fff" type="ball-spin-fade-rotating"
    name="product-spinner">
    <p style="font-size: 20px; color: white">Actualizando, espere un momento...</p>
</ngx-spinner>
