<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            NayarBot
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a> <i class="fas fa-home"> </i> </a>
              </li>

              <li class="breadcrumb-item active">Catálogos</li>

              <li aria-current="page" class="breadcrumb-item active">
                Módulos
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a class="btn btn-neutral btn-lg" (click)="nuevoModulo()">AGREGAR MODULO</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="form" class="container-fluid mt--6">
  <form class="validation" novalidate>
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div *ngIf="newM" class="col-8">
            <h3 class="mb-0">Agregar Módulo</h3>
          </div>
          <div *ngIf="showM" class="col-8"><h3 class="mb-0">Módulo</h3></div>
          <div *ngIf="editM" class="col-8">
            <h3 class="mb-0">Editar Módulo</h3>
          </div>

          <div class="col-4 text-right">
            <a class="btn btn-sm btn-outline-danger" (click)="close()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="nombre"> Nombre </label>

                <input
                  class="form-control"
                  type="text"
                  id="nombre"
                  name="nombre"
                  [(ngModel)]="nombre"
                  required
                  maxlength="100"
                  [readonly]="showM"
                />
                <div class="invalid-feedback">Nombre requerido</div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="moduloPadre">
                  Módulo Padre
                </label>

                <input
                  class="form-control"
                  type="text"
                  id="moduloPadre"
                  name="moduloPadre"
                  [(ngModel)]="moduloPadre"
                  readonly
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="form-control-label"> Descripción </label>

                <input
                  class="form-control"
                  type="text"
                  name="descripcion"
                  [(ngModel)]="descripcion"
                  [readonly]="showM"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button
            *ngIf="!showM"
            class="btn btn-secondary"
            type="button"
            (click)="close()"
          >
            Cancelar
          </button>
          <button
            *ngIf="newM"
            class="btn btn-primary"
            type="submit"
            (click)="guardarModulo('new')"
          >
            Guardar
          </button>
          <button
            *ngIf="editM"
            class="btn btn-primary"
            type="submit"
            (click)="guardarModulo('edit')"
          >
            Guardar
          </button>
        </div>
        <hr class="my-4" />
      </div>
    </div>
    <br />
    <br />
    <br />
  </form>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Módulos</h3>
          <p class="text-sm mb-0">Listado de módulos</p>
        </div>
        <div class="py-4">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>
                <span [style.paddingLeft.px]="40">
                  MODULO
                </span>
              </th>
              <td mat-cell *matCellDef="let data">
                <a
                  placement="top"
                  [style.visibility]="!data.expandable ? 'hidden' : ''"
                  [style.marginLeft.px]="data.level * 32"
                  (click)="treeControl.toggle(data)"
                >
                  <i
                    [class]="
                      treeControl.isExpanded(data)
                        ? 'fas fa-chevron-down'
                        : 'fas fa-chevron-right'
                    "
                    style="font-size: medium"
                  >
                  </i>
                </a>

                {{ data.nombre | uppercase }}
              </td>
            </ng-container>

            <ng-container matColumnDef="table-actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let data">
                <a class="table-action" tooltip="Editar" placement="top" (click)="editarModulo(data)">
                  <i class="fas fa-pen-square" style="font-size: medium"> </i>
                </a>

                <a class="table-action" tooltip="Borrar" placement="top" (click)="borrarModulo(data)">
                  <i class="fas fa-trash" style="font-size: medium"> </i>
                </a>

                <a class="table-action" tooltip="Detalles" placement="top" (click)="detallesModulo(data)">
                  <i class="fas fa-eye" style="font-size: medium"> </i>
                </a>

                <a class="table-action" tooltip="Agregar Módulo Hijo" placement="top" (click)="nuevoModulo(data)">
                  <i class="fas fa-plus" style="font-size: medium"> </i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
        </div>
        <nav>
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" (click)="modulosT()">
                <span class="btn-inner--icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-clockwise"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
                    />
                    <path
                      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
                    />
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="true"
  ></ngx-spinner>
</div>
