.header {
    background-color: #004B9C;
}

.entries-input {
    width: 50px;
}

a {
    cursor: pointer;
}

.table>thead>tr>th {
    overflow: hidden;
    white-space: initial;

}

.table>tbody>tr>td {
    overflow: hidden;
    white-space: initial;
}

.table {
    width: 100%;
}

.inputI:read-only {
    background-color: #f6f9fc;
}

.custom-file-input~.custom-file-label::after {
    content: "Buscar";
}

.contenedor-paginacion {
    white-space: nowrap;
    width: 500px;
    height: 60px;
    overflow-x: scroll;
}

.contenedor-paginacion li {
    display: inline-block;
}

.cantidad-registros {
    margin-top: 8px;
    font-size: 13px;
    margin-right: 10px;
}